
[flake8]
# Explicitly ignore rules to maintain better compatibility with black.
# 
# F403: import *
# F811: redefinition of unused `name` from line `N`
# F841: local variable assigned but never used
# E402: module level import not at top of file
# I100: your import statements are in the wrong order.
# I101: the names in your from import are in the wrong order.
# D400: first line should end with a period.
# E203: colons should not have any space before them.
# E231: missing whitespace after ','
# E501: line lengths are recommended to be no greater than 79 characters. 
# E503: there is no need for backslashes between brackets.
# W293: line break before binary operator
# W293: blank line contains whitespace
select = E,F,W,C
ignore = F403, F811, F841, E402, I100, I101, D400, E501, E501, E503, W293, W503
extend-ignore = E203
max-complexity = 15
# https://docs.djangoproject.com/en/dev/internals/contributing/writing-code/coding-style/
max-line-length = 119
builtins = c, get_config
exclude =
    .cache,
    __pycache__,
    .github,
    .ipynb_checkpoints,
    .pytest_cache,
    .travis,
    .vscode,
    docs,
    node_modules,
    venv
